.technology {
    background-image: url('../../assets/bg-images/background-technology-mobile.jpg');

}


@media screen and (min-width:768px){
    .technology{
        background-image: url('../../assets/bg-images/background-technology-tablet.jpg');
    }
}

@media screen and (min-width:992px){
    .technology{
        background-image: url('../../assets/bg-images/background-technology-desktop.jpg');
    }
}