@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section{
  background-position: center center;
  background-size: cover;
}

.spacing {
  letter-spacing: 0.125rem;
}

.brdr {
  border-bottom: 1px solid rgba(255,255,255, 0.253);
}

.home, .destination, .technology, .crew {
  animation: fadeIn 0.5s linear 0s 1 normal;
}

@keyframes fadeIn{
  0%{
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}



